{% extends "quoteapp/base.html" %}

{% block content %}

<form method="POST" action="{% url 'quoteapp:quote' %}">
    {% csrf_token %}

    <div class="row">
        <div class="form-group col-xs-3">
            <label for="author">Author</label>
            <select name="author" required>
                {% for author in authors %}
                <option value="{{ author.fullname }}" {% if author.fullname == one_author %}selected{% endif %}>{{ author.fullname }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label for="quote">Quote</label>
            {{ form.quote }}
        </div>
        <span>{{ form.errors.quote }}</span>
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label for="tags">Select Tags</label>
            <select name="tags" multiple="multiple" required>
                {% for tag in tags %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="grid">
        <input type="submit" value="Add Quote" class="btn btn-primary"/>
    </div>

</form>
{% endblock %}
