{% extends "quoteapp/base.html" %}

{% block content %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
    <form action="{% url 'users:login' %}" method="post" accept-charset="utf-8" >
        {% csrf_token %}
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <label for="username">Password</label>
                {{ form.password }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3">
                <input type="submit" value="Login" class="btn btn-primary"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-3 small text-left">
                <a href="{% url "users:password_reset" %}" class="text-left"><i>Forgot Password?</i></a>
            </div>
        </div>
    </form>
{% endblock %}
